<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/form">
        <input type="email" name="email" id="email" placeholder="email" value= "<%= email %>"><br>
        <%= emailError %> <br>
        <input type="text" name="name" id="name" placeholder="name" value= "<%= name %>"><br>
        <%= nameError %> <br>
        <input type="number" name="point" id="point" placeholder="point" value= "<%= point %>"><br>
        <%= pointError %> <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>